@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mesh {
  background-color: rgb(15, 15, 20); 
  background-image: radial-gradient(
      at 89% 54%,
      hsla(202, 20%, 32%, 0.1) 0px,
      transparent 50%
    ),
    radial-gradient(at 15% 91%, rgb(25, 25, 35) 0px, transparent 50%), 
    radial-gradient(at 97% 91%, rgb(40, 40, 50) 0px, transparent 50%), 
    radial-gradient(at 61% 72%, rgb(70, 70, 80) 0px, transparent 50%), 
    radial-gradient(at 54% 65%, rgb(18, 17, 20) 0px, transparent 50%); 
}


.mesh2 {
  background-color: rgb(10 10 10);
  background-image: radial-gradient(
      at 87% 74%,
      rgb(38 38 38) 0px,
      transparent 50%
    ),
    radial-gradient(at 23% 13%, hsla(202, 6%, 32%, 0.1) 0px, transparent 50%),
    radial-gradient(at 81% 40%, rgb(64 64 64) 0px, transparent 50%),
    radial-gradient(at 30% 38%, rgb(12 10 9) 0px, transparent 50%);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

::-webkit-scrollbar {
  width: 16px; 
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #E4E4E4; 
  border-radius: 10px; 
  border: 3px solid #E4E4E4; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: #E4E4E4 rgba(0, 0, 0, 1); 
}
